.btn-primary,
.btn-secondary {
  transition: all 0.3s;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--text-secondary);
}

.btn-secondary:hover {
  background-color: var(--secondary-hover);
}
