@import "../../variables.css";

.btn {
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: var(--btn-padding);
  transition: var(--transition-speed) all ease;
  border-radius: var(--border-radius);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-primary);
  border: 1px solid var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-hover);
  border: 1px solid var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--text-secondary);
}

.btn-secondary:hover {
  background-color: var(--secondary-hover);
  border: 1px solid var(--secondary-color);
}

.btn-secondary:focus {
  outline: 2px solid rgb(255, 145, 0);
}

.btn-small {
  font-size: var(--font-small);
}
.btn-medium {
  font-size: var(--font-medium);
}
.btn-large {
  font-size: var(--font-large);
}
